#chatbox{
position: absolute;
width: 952px;
height: 1010px;

background: #FFFFFF;
    -fx-effect: dropshadow(three-pass-box, rgba(121, 197, 239, 0.38), 0, 4, 5, 2);
border-radius: 25px;
}



/* Chat sign in the upper center of the window */
#chat{
position: absolute;
width: 90px;
height: 32px;

font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 32px;
line-height: 38px;
letter-spacing: 0.05em;

color: #303030;  
}



/*sent messages*/
#sentMessageGroup{
position: absolute;
width: 283px;
height: 122px;
}

/*blue bubblefield*/
#messageBubble{
    position: absolute;
    width: 265px;
    height: 76px;

    background: #0085FF;
    border-radius: 25px;
}

/*round blue bubble*/
#bubbleDesign{
    position: absolute;
    width: 18px;
    height: 18px;
    
    background: #0085FF;
}

/*usernametag on top of message*/
#username{
    position: absolute;
    width: 101px;
    height: 28px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.05em;

    color: #707070;
}  



/*received messages*/
#receivedMessageGroup{
    position: absolute;
    width: 283px;
    height: 122px;
}

/*gray bubblefield*/
#messageBubble{
position: absolute;
width: 265px;
height: 76px;

background: #D7D7D7;
border-radius: 25px;
}

/*round gray bubble*/
#bubbleDesign{
position: absolute;
width: 18px;
height: 18px;

background: #D7D7D7;
}

/*usernametag on top of message*/
#username{
position: absolute;
width: 101px;
height: 28px;

font-family: 'Roboto';
font-style: normal;
font-weight: 300;
font-size: 20px;
line-height: 23px;
letter-spacing: 0.05em;

color: #707070;
}



/*type Message Bubble*/
#bubble{
    position: absolute;
    width: 625px;
    height: 79px;
    
    background: rgba(239, 246, 252, 0.87);
    border-radius: 25px;
}

/*font*/
#inputText{
    position: absolute;
    width: 347px;
    height: 26px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.05em;
    
    color: #303030;
}


/*sent button*/
#sentBubble{
    position: absolute;
    width: 168px;
    height: 79px;
    
    background: rgba(239, 246, 252, 0.87);
    -fx-border-color: #0085FF ;
    -fx-border-width: 2 ;
    box-sizing: border-box;
    border-radius: 25px;
}

#sentButton{
    position: absolute;
    width: 63px;
    height: 26px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.05em;
    
    color: #303030;
    
}